/* Чим ми займаємося */

.case {
    padding-bottom: 94px;
}

.case-list {
    display: flex;
}

.case-list__items {
    position: relative;
    justify-content: center;
    &:not(:last-child){
    margin-right: 30px;
    }
}

.case-title,
.team-title,
.clients-title {
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 28px;
    line-height: 1.67;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;

@media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.case-list__labels {
    color: var(--text-white);
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    line-height: 1.14;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1199px) {
    .about {
        display: none;
    }
}