/* Шапка сторінки */

.header {
   border-bottom: 1px solid #ECECEC;
   max-width: 1600px;
   margin: 0 auto;
}

.header__container {
   display: flex;
   align-items: center;
}

.navigation {
   display: flex;
   align-items: center;
}

.logo {
   color: var(--secondary-text-color);
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   text-decoration: none;
   padding-top: 24px;
   padding-bottom: 24px;
   display: block;
   }

   @media (min-width: 767px) {
   .logo {
      margin-right: 92px;
   }
}

.logo--accent {
   color: var(--accent-color);
}

.navigation-list {
   display: flex;
   align-items: center;
}
@media (max-width: 767px) {
   .navigation-list {
      display: none;
      }
}

.navigation-list__items:not(:last-child) {
   margin-right: 50px;
}

.link {
   display: block;
   color: var(--primary-text-color);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   padding-top: 32px;
   padding-bottom: 32px;
   transition: color var(--transition-value);

   &:hover,
   &:focus {
   color: var(--accent-color);
   }
}

.navigation-list__items--current::after {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background: var(--accent-color);
   bottom: 0;
   left: 0;
   opacity: 1;
}

.navigation-list__items {
   display: block;
   position: relative;
   transition: color var(--transition-value);
}


.navigation-list__items--current {
   color: var(--accent-color);
}

.navigation-contact {
   @media screen and (min-width: 768px) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
   
      }
   
      @media screen and (min-width: 1200px) {
         flex-direction: row;
         margin-left: auto;
      }
   
      display: flex;
      align-items: center;
      margin-left: auto;
}
   
   @media (max-width: 767px) {
      .navigation-contact {
         display: none;
      }
}
@media screen and (min-width: 768px) {
   .navigation-contact__items:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 50px;
   }
}

@media screen and (min-width: 1200px) {
   .navigation-contact__items:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
   }
}



.navigation-contact__link {
   display: flex;
   color: var(--text-color);
   font-weight: 500;
   letter-spacing: 0.02em;
   line-height: 1.14;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   transition: color var(--transition-value);
   &:hover,
   &:focus {
      color: var(--accent-color);
   }

   @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
   }
}

.navigation-contact__svg-smartphone {
   height: 16px;
   width: 16px;
   margin-right: 10px;
   fill: currentColor;
   justify-content: center;
   align-items: center;
}

.navigation-contact__svg-envelope {
   height: 16px;
   width: 16px;
   margin-right: 10px;
   fill: currentColor;
   align-items: center;
   justify-content: center;
}