/* Модальне вікно.*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width: 528px;
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color var(--transition-value);
    cursor: pointer;

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:hover .modal__close-icon,
    &:focus .modal__close-icon {
        fill: var(--accent-color);
    }
}

/* Модальне вікно. Форма */
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.modal-form__field:not(:last-child) {
    margin-bottom: 10px;
}

.modal-form__message {
    margin-bottom: 0px;
}

.modal-form__desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--text-color);
}

.modal-form__wrapper {
    display: block;
    position: relative;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 30px;
    transition: border-color var(--transition-value);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-value);
}

.modal-form__input:focus+.modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__message {
    width: 100%;
    height: 120px;
    padding: 10px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color var(--transition-value);

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form__check-desc {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 30px;
    margin-top: 20px;

    &::before {
        display: block;
        width: 16px;
        height: 15px;
        /* width: 18px;
	    height: 18px; */
        border: 1px solid var(--primary-text-color);
        content: "";
        cursor: pointer;
        border-radius: 4px;
        margin-right: 9px;
    }
}

.modal-form__policy-link {
    border-bottom: 2px solid var(--accent-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--accent-color);
}

.modal-form__check:checked+.modal-form__check-desc::before {
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    border: 0;
}

.modal-form__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-white);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 52px;
    align-items: center;
    transition: background-color var(--transition-value);

    &:hover,
    &:focus {
        background: #188ce8;
    }
}