/* Особливості */

.peculiarity {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarity-list {
    display: flex;
}

.peculiarity-list__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg-color);
    height: 120px;
    width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.peculiarity__title {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.peculiarity-list__items:not(:last-child){
    margin-right: 30px;
}